.login-form {
  padding: 10px;

  &__panel {
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 2px 2px 8px gray;
  }

  &__button {
    width: 100px;
  }

  &__section {
    margin-bottom: 10px;
    label {
      min-width: 100px;
      display: inline-block;
    }

    input {
      background: transparent;
      border: 0px;
      border-bottom: 1px solid;
      min-width: 200px;
      outline: 0px;
    }

    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    }
  }
}